<h1>Oh no!  Your screen is too small to use Stylie.</h1>
<p>Stylie isn't built to work on a screen this small, and you probably wouldn't want to use an animation tool on a tiny screen anyways.  Please try Stylie on a desktop or laptop.  In the meantime, take a look at this <a href="https://www.youtube.com/watch?v=Xx-SLbCxhxI">video</a> to get a feel for what you can do with Stylie on a larger screen.</p>
