<ul class="$tabsContainer tabs-container">
  <li data-tab-name="keyframes"><a href="#">Keyframes</a></li>
  <li data-tab-name="motion"><a href="#">Motion</a></li>
  <li data-tab-name="export"><a href="#">Export</a></li>
  <li data-tab-name="html"><a href="#">HTML</a></li>
  <li data-tab-name="management"><a href="#"><i class="glyphicon glyphicon-cog"></i></a></li>
</ul>
<ul class="$tabsContentContainer">
  <li class="$keyframesPanel" data-tab-name="keyframes"></li>
  <li class="$motionPanel" data-tab-name="motion"></li>
  <li class="$exportPanel" data-tab-name="export"></li>
  <li class="$htmlPanel" data-tab-name="html"></li>
  <li class="$managementPanel" data-tab-name="management"></li>
</ul>
