<ul class="$tabsContainer tabs-container">
  <li data-tab-name="keyframes"><a href="#">Keyframes</a></li>
  <li data-tab-name="motion"><a href="#">Motion</a></li>
  <li data-tab-name="css"><a href="#">CSS</a></li>
  <li data-tab-name="html"><a href="#">HTML</a></li>
  <li data-tab-name="settings"><a href="#">Settings</a></li>
</ul>
<ul class="$tabsContentContainer">
  <li class="$keyframesPanel" data-tab-name="keyframes"></li>
  <li class="$motionPanel" data-tab-name="motion"></li>
  <li class="$cssPanel" data-tab-name="css"></li>
  <li class="$htmlPanel" data-tab-name="html"></li>
  <li class="$settingsPanel" data-tab-name="settings"></li>
</ul>
