<ul class="$tabsContainer">
  <li><a href="#">Keyframes</a></li>
  <li><a href="#">Motion</a></li>
  <li><a href="#">CSS</a></li>
  <li><a href="#">HTML</a></li>
  <li><a href="#">Settings</a></li>
</ul>
<ul class="$tabsContentContainer">
  <li class="$keyframesPanel"></li>
  <li class="$motionPanel"></li>
  <li class="$cssPanel"></li>
  <li class="$htmlPanel"></li>
  <li class="$settingsPanel"></li>
</ul>
