{{#username}}
<h1>Welcome back, {{.}}!</h1>
{{/username}}
{{^username}}
<h1>Log In</h1>
<button class="login twitter">
  <img class="twitter-logo" src="img/twitter_logo_blue.png" alt="Twitter logo">
  <h2 class="$twitterLabel">Via Twitter</h2>
</button>
{{/username}}
