// Colors
$chrome-background-color: #353535
$chrome-range-slide-color: #fff
$chrome-scrollbar-color: #d0d0d0
$chrome-internal-label-color: #fefefe
$chrome-external-label-color: #ddd
$chrome-icon-color: #aaa
$chrome-unit-label-color: #aaa
$chrome-frame-background-color: #1a1a1a
$chrome-border-color: #454545
$chrome-button-background: #222
$chrome-button-border-color: #888
$chrome-input-color: #ddd
$chrome-input-background-color: #555
$chrome-invalid-input-background: #ff8
$chrome-invalid-input-color: #f00

// Layout
$border-radius: 2px
$tab-padding: 8px
$tab-border-width: 1px
$input-padding: 4px
$input-spacing: 1em
$chrome-input-full-width: calc(100% - (#{$input-padding * 2}))
$chrome-hidden-label-animated-nudge-offset: 0.3em
$crosshair-box-size: 60px
$crosshair-dashmark-width: 4px
$timeline-scrubber-padding: .5em
$timeline-scrubber-distance-from-corner: 10px
$timeline-scrubber-range-width: 20em

// Transitions
$label-hide-show-duration: 0.3s
