// Colors
$chrome-background-color: #353535
$chrome-range-slide-color: #fff
$chrome-scrollbar-color: #d0d0d0
$chrome-internal-label-color: #fefefe
$chrome-external-label-color: #ddd
$chrome-icon-color: #aaa
$chrome-unit-label-color: #aaa
$chrome-frame-background-color: #1a1a1a
$chrome-border-color: #454545
$chrome-button-background: #222
$chrome-button-border-color: #888
$chrome-input-color: #ddd
$chrome-input-background-color: #555
$chrome-invalid-input-background: #ff8
$chrome-invalid-input-color: #f00
$header-gradient-top-color: #fff
$header-gradient-bottom-color: #e5e5e5
$header-link-color: #454545
$header-link-color-hover: #111

// Layout
$border-radius: 2px
$tab-padding: 8px
$tab-border-width: 1px
$input-padding: 4px
$input-spacing: 1em
$header-height: 66px
$chrome-input-mid-width: 14em
$chrome-input-full-width: calc(100% - (#{$input-padding * 2}))
$chrome-hidden-label-animated-nudge-offset: 0.3em
$chrome-slide-thumb-size: 1em
$chrome-input-margin-left: .7em
$crosshair-box-size: 60px
$crosshair-dashmark-width: 4px
$timeline-scrubber-distance-from-corner: 10px
$timeline-scrubber-range-width: 20em
$timeline-scrubber-slide-thumb-size: 1.5em

// Transitions
$label-hide-show-duration: 0.3s
