body {
  margin: 0;
  overflow: hidden;
  padding: 0;
}

label {
  cursor: pointer;
}

ul {
  margin: 0;
  overflow: hidden;
  padding: 0;
}

ul li {
  list-style-type: none;
}

textarea {
  height: 188px;
}

input[type="checkbox"] {
  width: auto;
}

input[type="text"] {
  width: 165px;
}

ul.controls li {
  display: block;
  font-size: 1.1em;
  padding: 6px 0;
}

#fork-me-link {
  left: 0px;
  position: absolute;
  top: 0px;
}

#main-container {
  font-family: Helvetica, Arial, serif;
  font-size: 13px;
  line-height: 1.7em;
  overflow: hidden;
  padding-top: 66px; /* This equals the height of the header */
}

.center {
  text-align: center;
}

header {
  font-family: helvetica, sans-serif;
  height: 66px;
  padding: 0 6px;
  position: fixed;
  top: 0;
  width: 100%;
  backgroun-color: #4972c8;
  background-image: linear-gradient(top, rgb(255,255,255) 0%, rgb(229,229,229) 71%);
  background-image: -o-linear-gradient(top, rgb(255,255,255) 0%, rgb(229,229,229) 71%);
  background-image: -moz-linear-gradient(top, rgb(255,255,255) 0%, rgb(229,229,229) 71%);
  background-image: -webkit-linear-gradient(top, rgb(255,255,255) 0%, rgb(229,229,229) 71%);
  background-image: -ms-linear-gradient(top, rgb(255,255,255) 0%, rgb(229,229,229) 71%);
}

h1, h2 {
  float: left;
  margin: 0;
}

h1 {
  font-size: 24px;
  line-height: 40px;
}

h1 img {
  margin: 8px 0 0 60px;
}

h1 a:active,
h1 a:link,
h1 a:hover,
h1 a:visited {
  color: #eee;
}

h1 a {
}

h2 {
  color: #454545;
  line-height: 66px;
  font-size: 18px;
  font-weight: lighter;
  margin-left: 18px;
}

h2 a:active, h2 a:hover, h2 a:link, h2 a:visited {
 color: #454545;
 font-weight: bold;
}

h2 a:hover {
  color: #111;
}

h3 {
  font-size: 0.9em;
  margin: 6px 0;
}

p {
  color: #ccc;
  font-size: 1.0em;
  line-height: 1.4em;
  margin-bottom: 0.8em;
}

a, a:active, a:hover, a:link, a:visited {
  color: #fefefe;
  font-weight: bold;
  text-decoration: none;
}

footer {
  margin: 40px 0px 0px;
  text-align: center;
}

.buttons {
  padding-bottom: 10px;
  text-align: center;
}

button {
  background: #1e5799; /* Old browsers */
  background: -moz-linear-gradient(top, #1e5799 0%, #eaeaea 0%, #d8d8d8 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(0%,#eaeaea), color-stop(100%,#d8d8d8)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #1e5799 0%,#eaeaea 0%,#d8d8d8 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #1e5799 0%,#eaeaea 0%,#d8d8d8 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #1e5799 0%,#eaeaea 0%,#d8d8d8 100%); /* IE10+ */
  background: linear-gradient(top, #1e5799 0%,#eaeaea 0%,#d8d8d8 100%); /* W3C */
  border: 1px solid #bbb;
  display: inline;
  font-size: 18px;
  margin: 0 auto;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#d8d8d8',GradientType=0  ); /* IE6-9 */
  cursor: pointer;
}

button.#update {
  width: 200px;
}

button#play,
button#pause {
}

canvas {
  display: block;
}

#sandbox {
  float: left;
}

#crosshairs {
  background: url(img/ui/bg_grid.png);
  float: left;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

  #crosshairs canvas {
    float: left;
  }

  #crosshairs .crosshair {
    cursor: move;
    height: 40px;
    margin: -20px;
    position: absolute;
    top: 180px;
    width: 40px;
  }

  .crosshair.from {
    left: 25px;
  }

  .crosshair.to {
    left: 435px;
  }

    .crosshair .dashmark {
      height: 2px;
      left: 0;
      position: absolute;
      top: 0;
      width: 2px;
    }

      .from .dashmark {
        background: #0c0;
      }

      .to .dashmark {
        background: #f00;
      }

    .crosshair .dashmark.horiz {
      top: 19px;
      width: 100%;
    }

    .crosshair .dashmark.vert {
      height: 100%;
      left: 19px;
    }

#control-pane {
  color: #fefefe;
}

  #control-pane label {
    padding-right: 2px;
  }

    #control-pane .keyframe label {
      padding-right: 54px;
    }

  #control-pane label:nth-of-type(2) {
    float: right;
    padding-right: 0;
  }

    #control-pane span {
      padding-right: 12px;
    }

  #control-pane select {
    background: #fff;
    font-size: 0.8em;
  }

  #control-pane hr {
    margin: 6px 0 8px;
  }

  #control-pane .buttons {
    padding: 6px 0;
    text-align: left;
  }

  #control-pane input {
    font-size: 0.8em;
  }

  #control-pane input[type="checkbox"] {
    font-size: 1.1em;
  }

  #control-pane input.three-quarters {
    display: block;
    margin-top: 6px;
    width: 200px;
  }

  #control-pane textarea,
  #control-pane input.full-width {
    display: block;
    margin-top: 6px;
    width: 295px;
  }

  #control-pane input.quarter-width {
    width: 75px;
  }

#tween-controls {
  float: left;
  padding: 0;
}

  #tween-controls input.ease {
  }

  #tween-controls input.error {
    background: #f55;
  }

#keyframe-controls {

}

  #keyframe-controls hr {
    margin-top: 12px;
  }

#rekapi-canvas {
  height: 400px;
  left: 0;
  top: 0;
  width: 500px;
}

  #rekapi-canvas .rekapi-actor {
    position: absolute;
  }

.pane {
  background: rgb(255,255,255);
  border: solid 1px #000;
  margin: 20px;
  position: absolute;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

  .pane .pane-handle {
    background: #1a1a1a;
    cursor: move;
    height: 28px;
  }

  .pane .pane-content {
    background: #353535;
  }

.float-wrap {
  overflow: auto;
}

#editor {
  margin: 20px 0;
}

.rekapi-scrubber-wrapper {
  background: #B5B5B5;
  border-radius: 3px;
  border: solid 1px #888;
  bottom: 20px;
  left: 20px;
  position: absolute;
  padding-bottom: 0px;
  padding: 8px;

  /* TODO: This rule is !important because explicit width control is not
   implemented in Rekapi Controls.  One the feature is added, set the width
   with JavaScript and remove this rule. */
  width: auto !important;
}

  .rekapi-scrubber-timeline {
    /* TODO:  Remove the !important here once Rekapi Controls has width
     control. */
    width: 400px !important;
  }

.tabs {
  display: block;
  background: #1a1a1a;
  border-bottom: solid 1px #454545;
  height: 30px;
  line-height: 30px;
  overflow: visible;
  padding-top: 3px;
}

  .tabs li {
    height: 29px;
    margin: 0 8px;
    padding: 0 4px;
    position: relative;
    float: left;
    -webkit-border-top-left-radius: 2px;
    -webkit-border-top-right-radius: 2px;
    -moz-border-radius-topleft: 2px;
    -moz-border-radius-topright: 2px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
  }

    .tabs a {
      color: #454545;
    }

  .tabs li.tabs-active {
    background: #353535;
    border: solid 1px #454545;
    border-bottom: solid 1px #353535;
    top: 1px;
  }

    .tabs li.tabs-active a {
      color: #fefefe;
    }

  .tabs li:first-child {
    margin-left: 6px;
  }

  .tabs li:last-child {
    margin-right: 0;
  }

  .tabs li a {
    padding: 0px 4px;
  }

.tabs-contents {
  padding: 6px 12px 12px;
}

  .tabs-contents > li {
    width: 300px;
  }

.checkboxes {
  width: 270px;
}

  ul.controls .checkboxes li {
    float: left;
    padding-bottom: 0;
    width: 50%;
  }

  .checkboxes label {
  }

    .checkboxes input,
    .checkboxes label span {
    }

#html-input {
  line-height: 0;
}

  #html-input textarea {
    margin-top: 18px;
  }

#css-output {
}

