body {
  margin: 0;
  overflow: hidden;
  padding: 0;
}

label {
  cursor: pointer;
}

ul {
  margin: 0;
  overflow: hidden;
  padding: 0;
}

ul li {
  list-style-type: none;
}

textarea {
  height: 188px;
}

#fork-me-link {
  left: 0px;
  position: absolute;
  top: 0px;
}

#main-container {
  font-family: 'Petrona', serif;
  line-height: 1.7em;
  overflow: hidden;
  padding-top: 40px;
}

.center {
  text-align: center;
}

header {
  background: #222;
  font-family: helvetica, sans-serif;
  height: 40px;
  padding: 0 6px;
  position: fixed;
  top: 0;
  width: 100%;
}

h1, h2 {
  float: left;
  margin: 0;
}

h1 {
  font-size: 24px;
  line-height: 40px;
}

h1 a:active,
h1 a:link,
h1 a:hover,
h1 a:visited {
  color: #eee;
}

h1 a {
}

h2 {
  color: #0bf;
  line-height: 44px;
  font-size: 18px;
  margin-left: 10px;
}

p {
  font-size: 1.2em;
}

a, a:active, a:hover, a:link, a:visited {
  color: #a00;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: #f00;
}

footer {
  margin: 40px 0px 0px;
  text-align: center;
}

.buttons {
  padding-bottom: 10px;
  text-align: center;
}

button {
  background: #1e5799; /* Old browsers */
  background: -moz-linear-gradient(top, #1e5799 0%, #eaeaea 0%, #d8d8d8 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(0%,#eaeaea), color-stop(100%,#d8d8d8)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #1e5799 0%,#eaeaea 0%,#d8d8d8 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #1e5799 0%,#eaeaea 0%,#d8d8d8 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #1e5799 0%,#eaeaea 0%,#d8d8d8 100%); /* IE10+ */
  background: linear-gradient(top, #1e5799 0%,#eaeaea 0%,#d8d8d8 100%); /* W3C */
  border: 1px solid #bbb;
  display: inline;
  font-size: 18px;
  margin: 0 auto;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#d8d8d8',GradientType=0  ); /* IE6-9 */
  cursor: pointer;
}

button.#update {
  width: 200px;
}

button#play,
button#pause {
}

canvas {
  display: block;
}

#sandbox {
  float: left;
}

#crosshairs {
  float: left;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

  #crosshairs canvas {
    float: left;
  }

  #crosshairs .crosshair {
    cursor: move;
    height: 40px;
    margin: -20px;
    position: absolute;
    top: 180px;
    width: 40px;
  }

  .crosshair.from {
    left: 25px;
  }

  .crosshair.to {
    left: 435px;
  }

    .crosshair .dashmark {
      height: 2px;
      left: 0;
      position: absolute;
      top: 0;
      width: 2px;
    }

      .from .dashmark {
        background: #0c0;
      }

      .to .dashmark {
        background: #f00;
      }

    .crosshair .dashmark.horiz {
      top: 19px;
      width: 100%;
    }

    .crosshair .dashmark.vert {
      height: 100%;
      left: 19px;
    }

#control-pane {

}

  #control-pane label {
    padding-right: 6px;
  }

  #control-pane select {
    background: transparent;
    font-size: 0.8em;
  }

  #control-pane hr {
    margin: 6px 0 8px;
  }

  #control-pane .buttons {
    padding: 6px 0;
    text-align: left;
  }

  #control-pane input {
    font-size: 0.8em;
    width: 165px;
  }

  #control-pane textarea,
  #control-pane input.full-width {
    display: block;
    width: 270px;
  }

#tween-controls {
  float: left;
  padding: 0;
}

  ul.controls li {
    display: block;
    font-size: 1.1em;
    padding-top: 6px;
  }

  #tween-controls input.ease {
  }

  #tween-controls input[type="checkbox"] {
    width: auto;
  }

  #tween-controls input.error {
    background: #f55;
  }

#rekapi-canvas {
  height: 400px;
  left: 0;
  top: 0;
  width: 500px;
}

  #rekapi-canvas .rekapi-actor {
  }

.pane {
  background: rgb(255,255,255);
  border: solid 1px #000;
  margin: 20px;
  position: absolute;
}

  .pane .pane-handle {
    background: #ccc;
    cursor: move;
    height: 28px;
  }

  .pane .pane-content {
  }

.float-wrap {
  overflow: auto;
}

#editor {
  margin: 20px 0;
}

.rekapi-scrubber-wrapper {
  background: #B5B5B5;
  border-radius: 3px;
  border: solid 1px #888;
  bottom: 20px;
  left: 20px;
  position: absolute;
  padding-bottom: 0px;
  padding: 8px;

  /* TODO: This rule is !important because explicit width control is not
   implemented in Rekapi Controls.  One the feature is added, set the width
   with JavaScript and remove this rule. */
  width: auto !important;
}

  .rekapi-scrubber-timeline {
    /* TODO:  Remove the !important here once Rekapi Controls has width
     control. */
    width: 400px !important;
  }

.tabs {
  display: block;
  border-bottom: solid 1px #bbb;
  height: 30px;
  line-height: 30px;
  overflow: visible;
  padding-top: 3px;
}

  .tabs li {
    border: solid 1px #bbb;
    height: 29px;
    margin: 0 3px -1px;
    float: left;
  }

  .tabs li.tabs-active {
    border-bottom-color: #fff;
  }

  .tabs li:first-child {
    margin-left: 6px;
  }

  .tabs li:last-child {
    margin-right: 0;
  }

.tabs-contents {
  padding: 6px 12px 12px;
}

#html-input {
  line-height: 0;
}

#css-output {
}

