@import 'app/styles/variables.sass'

.control-panel-view
  background: $control-pane-background
  color: $label-color
  width: 360px

  .tabs-container
    background: $control-pane-frame-background
    list-style-type: none

    .tab
      display: inline

      a:link, a:active, a:hover, a:visited
        color: $label-color
        font-weight: bold
        text-decoration: none

