<div class="$bezierizerControl bezierizer-control"></div>
<div class="row handles">
  {{#handleNames}}
  <label>
    <span>{{.}}</span>
    <input type="number" class="${{.}}" data-handle-name="{{.}}" value="0" step="0.01">
  </label>
  {{/handleNames}}
</div>
