<div class="flex-image-wrapper">
  <a href="https://github.com/jeremyckahn/stylie" target="_blank">
    <img src="img/stylie_logo.png" alt="Stylie logo">
  </a>
</div>
<h1>A fun CSS animation tool, powered by <a href="http://rekapi.com/" target="_blank">Rekapi</a> and <a href="https://github.com/Jellyvision/lateralus" target="_blank">Lateralus</a></h1>
<button class="$reset reset" title="Press this button to remove all keyframes and start over."><i class="glyphicon glyphicon-refresh"></i></button>
<button class="$help help" title="Press this to learn how to use Stylie.">?</button>
