<label class="btn-hidden-label-wrapper add-keyframe-wrapper">
  <span>Add a keyframe</span>
  <button class="glyphicon glyphicon-plus add-keyframe"></button>
</label>
<ul class="$keyframesList scrollable keyframes-list"></ul>
