<header class="$header fill"></header>
<div class="fill workspace">
  <div class="$controlPanel"></div>
  <div class="$preview fill"></div>
  <div class="mode-toggles">
    <button class="icon-button rotation" title="Press this button to toggle Rotation/Scale Mode">
      <i class="glyphicon glyphicon-repeat"></i>
    </button>
  </div>
</div>
<div class="$help fill"></div>
<div class="$tooSmallMessage fill"></div>
