<header class="$header fill"></header>
<div class="fill workspace">
  <div class="$controlPanel"></div>
  <div class="$preview fill"></div>
</div>
<div class="$login fill"></div>
<div class="$help fill"></div>
<div class="$tooSmallMessage fill"></div>
