<button class="glyphicon glyphicon-play $play play"></button>
<button class="glyphicon glyphicon-pause $pause pause"></button>
<input class="$scrubber scrubber" type="range" min="0" step="1">
<button class="glyphicon glyphicon-stop stop"></button>
