@import 'app/styles/variables.sass'
.management-panel-view

  label
    margin-bottom: .5em

  .load,
  .save

    button
      position: absolute
      left: $chrome-input-mid-width + 1.5em

    select
      margin-left: 0
