<label class="row" title="Preview is always &quot;infinite&quot;">
  <span>Iterations</span>
  <input class="$iterations" value="infinite">
</label>
<select
  class="$curveSelector"
  title="Easing curve to modify"
></select>
<button class="add-curve">Add new curve</button>
<div class="$bezierizer"></div>
<label class="row">
  <input class="$showPath" type="checkbox" checked>
  <span>Show path</span>
</label>
<label class="row">
  <input class="$centerToPath" type="checkbox" checked>
  <span>Center to path</span>
</label>
