<label class="row" title="Preview is always &quot;infinite&quot;">
  <span>Iterations</span>
  <input class="$iterations wide" type="text" value="infinite">
</label>
<label class="row">
  <span>Custom easing curves</span>
  <select
    class="$curveSelector"
    title="Easing curve to modify"
  ></select>
  <button class="glyphicon glyphicon-plus add-curve" title="Add a new custom easing curve"></button>
</label>
<div class="$bezierizer"></div>
<label class="row checkbox-wrapper">
  <input class="$showPath" type="checkbox" checked>
  <span>Show path</span>
</label>
<label class="row checkbox-wrapper">
  <input class="$centerToPath center-to-path" type="checkbox" checked>
  <span>Center to path</span>
</label>
