.crosshair-view
  height: 52px
  width: 52px

  .shift-down &
    display: none

  .dashmark-container
    cursor: move
    margin: -26px

    .dashmark
      background: #0c0
      height: 4px
      left: 0
      position: absolute
      top: 0
      width: 4px

      &.horiz
        top: 24px
        width: 100%

      &.vert
        height: 100%
        left: 24px

    .rotation-control
      left: 25px
      position: absolute
      top: 25px
