@import '../../bower_components/jck-library-extensions/src/backbone/tabs/tabs';
@import '../../bower_components/jck-library-extensions/src/backbone/pane/pane';
@import '../../bower_components/jck-library-extensions/src/backbone/alert/alert';
@import '../../bower_components/jck-library-extensions/src/backbone/modal/modal';
@import 'bezierizer';

$IMAGE_DIR: '../../img';

body {
  margin: 0;
  overflow: hidden;
  padding: 0;
}

label {
  cursor: pointer;
}

ul {
  margin: 0;
  overflow: hidden;
  padding: 0;
}

ul li {
  list-style-type: none;
}

ul.bulleted {
  padding-left: 30px;
}

ul.bulleted .nested ul {
  padding-left: 18px;
}

  ul.bulleted .nested {
    list-style-type: none;
  }

    ul.bulleted .nested li {
      list-style-type: circle;
    }

ul.bulleted li {
  list-style-type: disc;
}

textarea {
  height: 140px;
  resize: none;
}

input[type="checkbox"] {
  width: auto;
}

input[type="text"] {
  height: 1.5em;
  margin-left: 2px;
  width: 165px;
}

input[type="text"],
textarea {
  background: #555;
  border: none;
  border-radius: 2px;
  color: #ddd;
  padding: 4px;
}

input[type="text"]:focus,
textarea:focus {
  background: #585858;
}

ul.controls {
  clear: both;
}

ul.controls > li {
  clear: both;
  display: block;
  font-size: 1.1em;
  padding: 6px 0;
}

pre {
  background: #cdcdcd;
  font-size: 1.2em;
  padding: 14px;
}

table {
  margin-bottom: 12px;
}

  tr td {
    padding-bottom: 8px;
  }

  tr td:first-child {
    font-weight: bold;
    padding-right: 40px;
  }

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  border: solid 1px rgba(208, 208, 208, .8);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgb(208, 208, 208);
  border-radius: 10px;
}

.hidden {
  display: none;
}

#incompatible-browser-message {
  display: none;
}

  .iphone #incompatible-browser-message {
    display: block;
  }

.iphone #help-trigger,
.iphone .pane,
.iphone .rekapi-scrubber-wrapper {
  display: none;
}

#fork-me-link {
  left: 0px;
  position: absolute;
  top: 0px;
}

#main-container {
  font-family: Helvetica, Arial, serif;
  font-size: 13px;
  line-height: 1.7em;
  overflow: hidden;
  padding-top: 66px; /* This equals the height of the header */
}

.center {
  text-align: center;
}

.hid {
  display: none;
}

header {
  font-family: helvetica, sans-serif;
  height: 66px;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #4972c8;
  background-image: linear-gradient(top, rgb(255,255,255) 0%, rgb(229,229,229) 71%);
  background-image: -o-linear-gradient(top, rgb(255,255,255) 0%, rgb(229,229,229) 71%);
  background-image: -moz-linear-gradient(top, rgb(255,255,255) 0%, rgb(229,229,229) 71%);
  background-image: -webkit-linear-gradient(top, rgb(255,255,255) 0%, rgb(229,229,229) 71%);
  background-image: -ms-linear-gradient(top, rgb(255,255,255) 0%, rgb(229,229,229) 71%);
}

  header h1,
  header h2 {
    float: left;
    margin: 0;
  }

h1 {
  font-size: 24px;
  line-height: 40px;
}

h1 img {
  margin: 8px 0 0 60px;
}

h1 a:active,
h1 a:link,
h1 a:hover,
h1 a:visited {
  color: #eee;
}

h2 {
  font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
  color: #454545;
  font-weight: lighter;
}

header h2 {
  line-height: 66px;
  margin-left: 18px;
}

h2 a:active, h2 a:hover, h2 a:link, h2 a:visited {
 color: #454545;
 font-weight: bold;
}

h2 a:hover {
  color: #111;
}

h3 {
  font-size: 0.9em;
  margin: 6px 0;
}

.rekapi-scrubber .dragon-slider {
  width: 380px !important;
}

#help-trigger {
  border: solid 4px #fff;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  display: block;
  float: left;
  font-size: 1.62em;
  height: 20px;
  margin: 12px 30px 0;
  padding: 6px;
  text-align: center;
  text-shadow: 0 1px 1px rgba(0,0,0,.49);
  width: 20px;

  /* http://www.colorzilla.com/gradient-editor/ */
  background: -moz-radial-gradient(center, ellipse cover,  #499bea 0%, #207ce5 100%); /* FF3.6+ */
  background: -webkit-radial-gradient(center, ellipse cover,  #499bea 0%,#207ce5 100%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover,  #499bea 0%,#207ce5 100%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover,  #499bea 0%,#207ce5 100%); /* IE10+ */
  background: radial-gradient(ellipse at center,  #499bea 0%,#207ce5 100%); /* W3C */

  -moz-box-shadow:    inset 0 1px 1px rgba(0,0,0,.27),
                            0 .1em 0 rgba(0,0,0,.04),
                            0 0 12px rgba(0,0,0,.21);
  -ms-box-shadow:     inset 0 1px 1px rgba(0,0,0,.27),
                            0 .1em 0 rgba(0,0,0,.04),
                            0 0 12px rgba(0,0,0,.21);
  -o-box-shadow:      inset 0 1px 1px rgba(0,0,0,.27),
                            0 .1em 0 rgba(0,0,0,.04),
                            0 0 12px rgba(0,0,0,.21);
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.27),
                            0 .1em 0 rgba(0,0,0,.04),
                            0 0 12px rgba(0,0,0,.21);
  box-shadow:         inset 0 1px 1px rgba(0,0,0,.27),
                            0 .1em 0 rgba(0,0,0,.04),
                            0 0 12px rgba(0,0,0,.21);
}

p {
  color: #ccc;
  font-size: 1.0em;
  line-height: 1.4em;
  margin-bottom: 0.8em;
}

a, a:active, a:hover, a:link, a:visited {
  color: #fefefe;
  font-weight: bold;
  text-decoration: none;
}

footer {
  margin: 40px 0px 0px;
  text-align: center;
}

.buttons {
  padding-bottom: 10px;
  text-align: center;
}

button {
  background: #1e5799; /* Old browsers */
  background: -moz-linear-gradient(top, #1e5799 0%, #eaeaea 0%, #d8d8d8 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(0%,#eaeaea), color-stop(100%,#d8d8d8)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #1e5799 0%,#eaeaea 0%,#d8d8d8 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #1e5799 0%,#eaeaea 0%,#d8d8d8 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #1e5799 0%,#eaeaea 0%,#d8d8d8 100%); /* IE10+ */
  background: linear-gradient(top, #1e5799 0%,#eaeaea 0%,#d8d8d8 100%); /* W3C */
  border: 1px solid #bbb;
  display: inline;
  font-size: 18px;
  margin: 0 auto;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#d8d8d8',GradientType=0  ); /* IE6-9 */
  cursor: pointer;
}

button.field-button {
  background: #222;
  border-radius: 2px;
  border: solid 1px #888;
  color: #ddd;
  font-size: 0.8em;
  margin: 0 6px 0 4px;
  padding: 5px 12px;
}

button.inline-action {
  left: 6px;
  position: relative;
  top: 2px;
}

button.field-button:active {
  background: #333;
  color: #fff;
}

canvas {
  display: block;
}

#sandbox {
  float: left;
}

#scaffolding-area {
  background: url(#{$IMAGE_DIR}/ui/bg_grid.png);
  float: left;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

  #scaffolding-area canvas {
    float: left;
  }

  #scaffolding-area .crosshair-container {
    height: 40px;
    width: 40px;
  }

    .shift-down .crosshair-container {
      display: none;
    }

  #scaffolding-area .crosshair {
    cursor: move;
    margin: -20px;
    position: absolute;
    top: 180px;
  }

    .crosshair .dashmark {
      background: #0c0;
      height: 2px;
      left: 0;
      position: absolute;
      top: 0;
      width: 2px;
    }

    .crosshair .dashmark.horiz {
      top: 19px;
      width: 100%;
    }

    .crosshair .dashmark.vert {
      height: 100%;
      left: 19px;
    }

    .crosshair .rotation-control {
      left: 20px;
      position: absolute;
      top: 20px;
    }

#control-pane {
  color: #fefefe;
}

  #control-pane h2,
  #control-pane h3 {
    color: #fff;
  }

    #control-pane .millisecond-input {
      width: 65px;
    }

  #control-pane label {
    padding-right: 2px;
  }

    #control-pane .keyframe:first-child div {
      clear: none;
      float: left;
    }

    #control-pane .keyframe:first-child :nth-child(6) {
      clear: left;
    }

    #control-pane .keyframe:first-child span {
      float:none;
    }

    #control-pane .keyframe:first-child label {
      padding-right: 14px;
    }

    #control-pane .keyframe div {
      clear: both;
      margin-bottom: 12px;
    }

    #control-pane .keyframe {
      clear: left;
    }

    #control-pane .keyframe h3 {
      cursor: pointer;
    }

    #control-pane .keyframe:first-child h3 {
      cursor: auto;
    }

    #control-pane .keyframe:nth-child(2) .pinned-button-array {
      display: none;
    }

    #control-pane .keyframe .pinned-button-array {
      float: right;
      margin: -28px 0 12px 0;
      position: relative;
    }

    #control-pane .keyframe div:last-child {
      margin-bottom: 0;
    }

    #control-pane .keyframe span {
      line-height: 28px;
      padding-right: 0;
      width: 26px;
    }

    #control-pane .keyframe .pinned-button-array button,
    #control-pane .keyframe .pinned-button-array span {
      line-height: 23px;
    }

    #control-pane .keyframe .property-field span {
      display: inline-block;
    }

  #control-pane .pinned-button-array {
    margin-bottom: -12px;
    overflow: hidden;
  }

    #control-pane .pinned-button-array label {
      float: right;
    }

    #control-pane button.icon {
      background: none;
      border: none;
      padding: 0;
    }

    #control-pane .pinned-button-array label,
    #control-pane .pinned-button-array button,
    #control-pane button.icon {
      color: #aaa;
    }

    #control-pane .pinned-button-array label:active,
    #control-pane button.icon:active {
      color: #ddd;
    }

    #control-pane .pinned-button-array span {
      padding-right: 34px;
      position: relative;
      visibility: hidden;
    }

    #control-pane .pinned-button-array:hover span {
      visibility: visible;
    }

    #control-pane .pinned-button-array button {
      position: absolute;
      right: 6px;
      top: 0;
    }

  #control-pane span {
    padding-right: 12px;
  }

  #control-pane .vendors span {
    font-size: 0.85em;
    padding-right: 0;
  }

  #control-pane .ease-label {
    display: inline-block;
    width: 20px;
  }

  #control-pane select {
    background: #666;
    border: solid 1px #333;
    color: #fff;
    font-size: 1em;
    margin-left: 8px;
    width: 215px;
  }

  #control-pane hr {
    margin: 6px 0 8px;
  }

  #control-pane .buttons {
    padding: 6px 0;
    text-align: left;
  }

  #control-pane input {
    font-size: 0.8em;
  }

  #control-pane input[type="checkbox"] {
    font-size: 1.1em;
  }

  #control-pane input.three-quarters {
    margin-top: 6px;
    width: 200px;
  }

  #control-pane textarea,
  #control-pane input.full-width {
    display: block;
    margin-top: 6px;
    width: 320px;
  }

  #control-pane textarea {
    width: 325px;
  }

  #control-pane .quality-slider {
    overflow: auto;
    padding-top: 12px;
  }

    #control-pane .quality-slider label {
      font-size: 13px;
    }

    #control-pane .quality-slider label:nth-child(1) {
      float: left;
    }

    #control-pane .quality-slider label:nth-child(2) {
      float: right;
    }

    #control-pane .quality-slider .dragon-slider {
      background: none;
      border: solid 1px #fff;
      height: 13px;
      margin: 26px auto 0;
      width: 330px !important;
    }

    #control-pane .quality-slider .dragon-slider button {
      background: #fff;
      height: 14px;
      width: 14px;

      /* Overrides styles from Rekapi Controls.
       *
       * TODO: These style should not need to be overridden, the selectors in
       * Rekapi Controls are not scoped properly.
       */
      -moz-box-shadow: none;
      -ms-box-shadow: none;
      -o-box-shadow: none;
      -webkit-box-shadow: none;
      box-shadow: none;
    }

  #control-pane input.quarter-width {
    width: 45px;
  }

#motion-controls {
  float: left;
  padding: 0;
}

  #motion-controls .controls > li {
    overflow: hidden;
  }

  #motion-controls input.error {
    background: #f55;
  }

#keyframe-controls {
  margin-top: 26px;
  overflow: visible;
}

  #keyframe-controls > .pinned-button-array {
    position: absolute;
    right: -10px;
    top: -26px;
    width: 100%;
  }

  #keyframe-controls .controls-wrapper {
    max-height: 400px;
    overflow: auto;
  }

  #keyframe-controls hr {
    margin-top: 12px;
  }

  #keyframe-controls h3:after {
    color: #aaa;
    content: 'ms';
    margin-left: 2px;
  }

  #keyframe-controls ul.controls > li:first-child {
    padding-top: 0;
  }

#preview-area {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

  #preview-area .rekapi-actor {
    line-height: 0;
    position: absolute;
  }

.float-wrap {
  overflow: auto;
}

#editor {
  margin: 20px 0;
}

.rekapi-scrubber-wrapper {
  bottom: 20px;
  left: 20px;
  position: absolute;
  z-index: 100;
}

.checkboxes {
  width: 270px;
}

  ul.controls .checkboxes li {
    float: left;
    padding-bottom: 0;
    width: 50%;
  }

  ul.controls .checkboxes.vendors li {
    width: 33%;
  }

#html-input {
  line-height: 0;
}

  #html-input textarea {
    margin-top: 18px;
  }

#misc-controls {

}

  #load-controls select {
    margin-left: 0;
  }

#custom-ease {

}

  #custom-ease .property-field {
    float: left;
  }

  #custom-ease .property-field input.quarter-width {
    width: 36px;
  }

  #custom-ease .property-field span {
    padding: 0 0 0 8px;
  }

  #custom-ease select {
    margin-right: 6px;
  }

  #custom-ease .icon {
    background: none;
    border: none;
    color: #aaa;
    margin: 0 2px;
    outline: none;
    padding: 0;
    /* position: absolute fixes weirdness in Firefox. */
    position: absolute;
  }
