<p>Customize the generated CSS.</p>
<label class="row">
  <span>Class name</span>
  <input class="$className" type="text" value="stylie">
</label>
<fieldset>
  <p>Vendors</p>
  {{#vendors}}
  <label>
    <input class="${{id}}Checkbox" type="checkbox" data-vendor="{{id}}">
    <span>{{label}}</span>
  </label>
  {{/vendors}}
</fieldset>
<form class="$orientationForm" action="">
  <fieldset class="row">
    <p>Orient generated CSS to:</p>
    <label>
      <input type="radio" name="orientation" value="first-keyframe" checked>
      <span>First keyframe</span>
    </label>
    <label>
      <input type="radio" name="orientation" value="top-left">
      <span>Top-left of container</span>
    </label>
  </fieldset>
</form>
<label class="row">
  <span>Generated CSS</span>
  <textarea class="$generatedCss"></textarea>
</label>
<div class="range-container">
  <span class="low">
    Smaller output
  </span>
  <span class="high">
    Higher quality
  </span>
  <input type="range" class="$cssSizeOutput" min="0" max="60">
</div>
