<form action="">
  <label class="$millisecondInputContainer millisecond-input-container">
    <span class="$millisecondDisplay millisecond-display">
      {{millisecond}}
    </span>
    <input
      type="number"
      name="millisecond"
      class="$millisecond millisecond"
      value="{{millisecond}}"
    >
    <span class="unit-label">ms</span>
  </label>
  {{#canDelete}}
  <label class="btn-hidden-label-wrapper delete-wrapper">
    <span>Remove keyframe</span>
    <button class="glyphicon glyphicon-remove delete"></button>
  </label>
  {{/canDelete}}
  {{#properties}}
  <div class="property">
    <label title="{{name}}">
      <span>{{displayName}}</span>
      <input
        type="number"
        class="${{name}}"
        name="{{name}}"
        value="{{value}}"
      >
    </label>
    {{#canChangeEasingCurve}}
    <select
      class="${{name}}Select curve"
      data-property="{{name}}"
      title="Easing curve"
    >
    </select>
    {{/canChangeEasingCurve}}
  </div>
  {{/properties}}
</form>
