<form action="">
  {{#properties}}
  <div class="property">
    <label title="{{name}}">
      <span>{{displayName}}</span>
      <input type="text" name="{{name}}" value="{{value}}">
    </label>
    {{#canChangeEasingCurve}}
    <select
      class="${{name}}Select curve"
      data-property="{{name}}"
      title="Easing curve"
    >
      {{#curves}}
      <option>{{.}}</option>
      {{/curves}}
    </select>
    {{/canChangeEasingCurve}}
  </div>
  {{/properties}}
</form>
