@import 'styles/variables'

.login-view

  h2
    text-align: center

  $modal-padding: 15%
  .modal-wrapper
    bottom: 10em
    left: $modal-padding
    top: 14em
    right: $modal-padding

  .twitter-logo
    display: block
    margin: 2.5em auto 0
    width: 215px

  .login
    border-radius: 3em
    display: block
    margin: 0 auto
    padding: 0 2em

  .logout
    display: block
    margin: 1.4em auto 0
