<p>Customize the HTML that you want to animate.  The preview is updated as you type.  The HTML you input here is not reflected in the CSS or JS tabs, it only affects the preview.</p>
<textarea class="$html"></textarea>
