<label class="row" title="The DOM class name that the generated CSS should target.">
  <span>Class name</span>
  <input class="$className wide update-on-keyup" type="text" value="stylie">
</label>
<label class="row" title="Preview is always &quot;infinite&quot;">
  <span>Iterations</span>
  <input class="$iterations iterations update-on-change update-on-keyup wide" type="text" value="infinite">
</label>
<fieldset class="vendors">
  <p>Vendors:</p>
  {{#vendors}}
  <label>
    <input class="${{id}}Checkbox update-on-change" type="checkbox" data-vendor="{{id}}">
    <span>{{label}}</span>
  </label>
  {{/vendors}}
</fieldset>
<fieldset class="row range-container">
  <label title="Drag to the left to generate a smaller CSS output.  Drag to the right to improve animation quality.">
    <span>Output size</span>
    <input
      type="range"
      class="$cssSizeOutput update-on-change css-size-output"
      min="1"
      max="60"
      value="{{cssSize}}"
    >
  </label>
</fieldset>
<label class="row" title="Copy this code and paste it into your stylesheet.">
  <span>Generated CSS</span>
  <textarea class="$generatedCss"></textarea>
</label>
