<label class="row">
  <span>Name this animation</span>
  <input type="text" class="$saveInput save-input mid" value="My animation">
  <button class="$saveButton save">Save</button>
</label>
<label class="row">
  <span>Load an animation</span>
  <select class="$loadSelector"></select>
  <button class="load">Load</button>
  <button class="glyphicon glyphicon-remove delete" title="Delete the selected animation."></button>
</label>
