<label class="row">
  <span>Name this animation</span>
  <input type="text" class="$save mid save" value="My animation">
  <button>Save</button>
</label>
<label class="row">
  <span>Load an animation</span>
  <select class="$load load"></select>
  <button>Load</button>
</label>
<button class="center cta">Create new animation</button>
