<p>The JSON data below can be used as a <a href="http://rekapi.com/" target="_blank">Rekapi</a> animation.  To use it, <a href="http://rekapi.com/dist/doc/classes/Rekapi.html#method_importTimeline" target="_blank">import it</a> and then associate the <code><a href="http://rekapi.com/dist/doc/classes/Rekapi.Actor.html" target="_blank">Rekapi.Actors</a></code> it creates with a rendering context.  You can use <a href="http://jeremyckahn.github.io/rekapi-export-test/" target="_blank">this tool</a> to test out and <a href="https://github.com/jeremyckahn/rekapi-export-test/blob/8d2dcea71f91d7468c014b50abf6cebd450fc9ac/app/scripts/components/animation-preview/view.js#L34-L40" target="_blank">learn how to use</a> the exported animation.</p>
<textarea class="$generatedJs"></textarea>
